<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add value="https://office.pkgs.visualstudio.com/DefaultCollection/_packaging/Office/nuget/v3/index.json" key="Office" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <packageSourceCredentials>
    <Office>
      <add key="Username" value="Username" />
      <add key="ClearTextPassword" value="%ADO_NUGET_PAT%" />
    </Office>
  </packageSourceCredentials>
</configuration>
