<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Office" value="https://pkgs.dev.azure.com/office/_packaging/Office/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Office>
      <add key="Username" value="aad_token" />
      <add key="ClearTextPassword" value="%ADO_TOKEN%" />
    </Office>
  </packageSourceCredentials>

  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>