<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Office" value="https://pkgs.dev.azure.com/office/_packaging/Office/nuget/v3/index.json"/>
  </packageSources>
  <!-- Provide ADO_TOKEN for authenticated package restore:
       ADO_TOKEN=$(azureauth ado token) dotnet restore -->
  <packageSourceCredentials>
    <Office>
      <add key="Username" value="UnusedWithToken" />
      <add key="ClearTextPassword" value="%ADO_TOKEN%" />
    </Office>
  </packageSourceCredentials>
</configuration>